body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#favouriteListsContainer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: right;
}

#searchContainer {
    background-color: #f0f0f0;
    padding: 10px;
}

#content {
    padding: 20px;
}

#searchForm {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#searchCategory, #searchInput, #searchButton {
    margin: 5px;
}

#listDetails {
    margin-top: 20px;
}
.large-square-button {
    width: 150px;
    height: 150px;
    font-size: 16px;
    padding: 10px;
}

h2 {
    background-color: #007acc;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

button {
    background-color: #007acc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}
#header {
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px;
}

#searchContainer, #favouriteListsContainer {
    flex: 1;
    padding: 10px;
}
#searchResults ul {
    list-style-type: none;
    padding: 0;
  }
  
  #searchResults ul li {
    margin: 10px 0; /* Adjust the margin as needed for spacing */
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  #searchResults ul li.selected {
    background-color: lightblue;
  }
  #searchAndListsContainer {
    display: flex; /* Create a flex container to place sections side by side */
}

#searchResults, #addedListsResults {
    flex: 1; /* Make both sections grow to fill the available space */
    margin: 10px; /* Add margin for spacing */
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#listDetails {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#sortListTitle {
    flex: 1;
    margin-right: 10px;
}

#favoriteListHeroesTitle {
    flex: 1;
    margin-left: 10px;
}


/* new style */
